@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


body {
    overflow: none;
}

form {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 1vh
}


.item-selection-screen {
    display: flex;
    padding: 2vh 2vw;
    background-color: gainsboro;
    border-radius: 12px;
    
}

.profile-picture {
    width: 5vw;
    height: 5vw;
    border-radius: 30%;
}

.post {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.page {
    background-color: gainsboro;
    margin: 5vh 5vw;
    border-radius: 24px;
    padding: 2vh 2vw;
}


/*listing items*/
.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vh 2vw
}

.listing-item {
    background-color: antiquewhite;
    border-radius: 24px;
    padding: 2vh 2vw;
    align-items: center;
    justify-content: center;
    flex: 1 0 20%;
}

.thumbnail {
    width: 20vw;
    height: 20vh;
}

.item-description {
    width: 90%;
}


/*item listing page*/
#selected-img {
    width: 40vw;
    height: 30vh;
    transition: 200ms opacity ease-in-out;

}

.image-carousell {
    display: flex;
    gap: 1vw;
}

.slide {
    width: 10vw;
    
}



/* hide when needed bruteforce method*/ 
.hidden {
    display: none;
    width: 0px;
    height: 0px;
}


/*date picker*/
.selector-option {
    cursor: pointer;
    margin: 0px;
    padding: 0.5vh 1vw;
}

.monthyear-selected {
    background-color: gray;
    border-radius: 12px;
    color: white;
}

.month-year {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

#checkbox {
    cursor: pointer;
}

.toggle-img {
  transition: opacity 0.3s ease;
}
.toggle-img.fading {
  opacity: 0;
}

.affirm {
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    gap: 0.5rem
}