@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Pacifico&family=Sansita+Swashed:wght@300..900&display=swap');

:root {
    --primary-bg-color: #EDEDED;
    --alt-bg-color: #C8C8C8;
    --grey-main: #D9D9D9;
    --grey-alt: #C0C0C0;
    --grey-alt-2: #A6A6A6;
    --grey-text: #676767;
    --grey-text-alt: #646464;
    --primary-text-color: rgb(0,0,0);
    --white-main: #FFF7F7;
    --green-main: #70877F;
    --red-main: #FCD1D3;
    --red-darker: #F69094;
    --blue-main: #2270FF;
    --blue-desat: #8398A8;

}


/*reusables*/

html {
    overflow: hidden ;
    font-family: 'Inter', sans-serif;
}


.flex-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.flex-center-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    height: 100%;

}

.flex-row-hori-center {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    height: 90%;
}

.flex-center-row {
    display: flex;
    align-items: center;
    width: 92%;
    justify-content: center;
    gap: 4rem;
    
}

.login-box {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 5%;
    grid-template-columns: 29% 1% 50%;
}


body {
    overflow: none;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
}

input, select {
    border-radius: 8px;
}

#html-main {
    position: absolute;
   
    background-color: var(--primary-bg-color);
    border-radius: 18px;
    
    
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
}

.half-size {
    right: 4%
}

.full-size {
    left: 6%;
    width: 84%;
}

.page-main {
   
    width: 92%;
    overflow-y: auto;
    flex: 1;
    padding: 4% 4%;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.page-main::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.title {
    font-family: 'Pacifico', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    margin: 0 0 1rem 0;
    line-height: 1;
    text-align: center;
}

.subhead {
    font-family: "Sansita Swashed", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 2rem;
    margin: 2rem 0 0 0;
}

.caption {
    font-weight: 500;
}

.row-headsection {
    text-align: center;
}

.row-divider {
    height: 90%;
    width: 0.1rem;
    background-color: var(--grey-alt-2);
    border-radius: 4rem;
    margin-left: 10%;

}

.error {
    color: var(--red-darker);
    margin: 0 0 0.5rem 0;
    font-weight: 300;
    text-align: left;
    margin: 0.1rem auto;
    font-size: 1.1rem;
    font-style: italic;
}

.bold {
    font-weight: 600;
    font-style: normal;
}
/* hide when needed bruteforce method. i think its this or innerHTML and this is easier*/ 
.hidden {
    opacity: 0  !important; 
    display: none !important;
    width: 0px  !important;
    height: 0px  !important;
}

/* login/signup */


.login-signup-form {
    width: 60%;
    align-items: start;    
}

#login, #signup {
    margin-bottom: 2rem;
}

#signup input {
    margin-top: 1rem;
}
#login input {
    margin-top: 1.5rem;
}
.login-signup-form input {
    width: 100%;
    background-color: var(--grey-alt);
    padding: 1rem;
    border: none;
    border-style: none;
    color: var(--primary-text-color);
    font-weight: 400;
}

.login-signup-form input::placeholder {
    color: var(--grey-text);

}
/* write like this so will override the width: 100% */
input.submit-login-signup-button, .payment-form input.submit-login-signup-button {
    width: 100%;
    padding: 1rem 1.5rem;
    background-color: var(--grey-main);
    color: var(--primary-text-color);
    font-size: 1.5rem;
    border-radius: 12px;
    font-weight: 600;
    border: none;
    margin: 0rem auto;

}

.login-signup-form h4 {
    margin: 0.5rem 0;
    text-align: left;
    width: 100%;
    padding-right: 1rem;
}

.login-signup-form a {
    color: var(--blue-main);
}


/* payment info form */

.payment-form{
    width: 100%;
    justify-content: start;
    align-items: start;
}

.payment-section {
    width: 100%;
}

.payment-row {
    gap: 10%;
    margin: 2rem 0;
    display: grid;
    grid-template-columns: 30% 60%;

}
.payment-form input, select{
    width: 100%;
    background-color: var(--white-main);
    padding: 0.75rem 1rem;
    
    border: none;
    border-style: none;
    color: var(--primary-text-color);
    font-weight: 400;
    margin-top: 0.5rem;

    border-style: solid;
    box-sizing: border-box;
}


.payment-form select {
    /* from gpt, just to move the arrow to the left a little */
    -webkit-appearance: none; /* Chrome/Safari */
    -moz-appearance: none;    /* Firefox */
    appearance: none; 
    cursor: pointer;

        
    /*svg code from https://www.svgviewer.dev/s/399950/arrowdown*/
    background-image: url('data:image/svg+xml;utf8,<svg width="400px" height="400px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><g id="Shopicon"><path points="24,29.172 9.414,14.586 6.586,17.414 24,34.828 41.414,17.414 38.586,14.586 	" d="M12 14.586 4.707 7.293 3.293 8.707 12 17.414l8.707 -8.707 -1.414 -1.414Z"/></g></svg>');
    background-repeat: no-repeat;
    background-position: right 15% center; /* distance from border */
    background-size: 12px;

}

.payment-form label {
    color:var(--grey-text-alt);
}

.payment-form input::placeholder {
    color: var(--grey-text);

}

.expiration-date-form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    
}

.payment-opts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 0.5rem;

}

.payment-opt {
    flex: 1;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    border-style: solid;
    padding: 0;
    border-color: var(--grey-alt-2);
    width: 5rem;
    height: 3rem;
    border-width: 0.2rem;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-weight: 300;
}

.payment-selected {
    border-width: 0.25rem;
    scale: 1.2;
}

.payment-opt:hover {
    border-width: 0.25rem;
    scale: 1.2;
}

.payment-setup-error {
    margin-bottom: 0.5rem;
}

#password-error {
    font-size: 0.75rem;
    margin: 0.1rem 0
}


/* add images here instead of in html itself because dn worry about the border radius*/
#visa {
    background-image: url('./visa.png');
}

#amex {
    background-image: url('./amex.png');
}

#mcard {
    background-image: url('./mcard.png');
    background-size: contain;
}


/* pfp img selector.  */
.pfp-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-top: 1rem;
    gap: 1rem;
}

.pfp-selector-wrapper {
    width: 80px;
    height: 80px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    align-items: center ;
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
}

.pfp-plus-button {
    width: 1.25rem;
    height: auto;
    position: absolute;
    top: 70%;
    right: 8%;
    background-color: white;
    border-radius: 100%;
}

.pfp-input-preview {
    width: 80%;
    height: auto;
    border-style: solid;
    border-width: 0.1rem;
    border-color: var(--grey-text);
    border-radius: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;

}

.pfp-select-label {
    text-wrap: none;
    font-style: italic;
    text-decoration: underline;
    font-size: 1rem;
    text-wrap: none;
}

/*socmed */

.profile-picture {
    width: 5vw;
    height: 5vw;
    border-radius: 30%;
}

.post {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.page {
    background-color: gainsboro;
    margin: 5vh 5vw;
    border-radius: 24px;
    padding: 2vh 2vw;
}



/*listing items*/
.items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vh;
}

.listing-item {
    background-color: var(--white-main);
    border-radius: 0.75rem;
    padding: 2% 2%;
    flex: 1 0 25%;
    display: flex;
    flex-direction: column;
}
.listing-name {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 0.5rem 0 0.1rem 0;
    
}
.thumbnail {
    width: 100%;
    height: 50%;
    border-style: solid;
    border-width: 1px;

    border-color: var(--grey-alt-2);
    border-radius: 0.75rem;
    object-fit: cover;
}

.item-description {
    width: 90%;
    font-size: 0.9rem;
    margin: 0.2rem 0;
    color: var(--grey-text-alt)    
}

.listing-price {
    font-size: 1.5rem;
    color: var(--green-main);
    font-weight: 700;
    margin: 2rem 0 0 0;
}

.seller-listing {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0
}


/*item listing page*/
#selected-img {
    width: 30vw;
    height: 30vw;
    margin: 0;
    transition: 200ms opacity ease-in-out;

}

.image-carousell {
    display: flex;
    gap: 1vh;
    position: relative;
    align-items: stretch;
    flex-direction: column;

}

.slide {
    width: 5vw;
    height: 5vw;
}

.current-slide {
    border-style: solid;
    border-color: black;
    border-width: 0.1rem;
    opacity: 80%;
}

.current-slide::before {
    background-color: rgba(0, 0, 0, 0.25);

}

.change-carousell-item {
    background-color: var(--grey-alt);
    border: none;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.change-carousell-item img{
    height: 50%;
    object-fit: contain;
    transform: rotate(90deg);
    
}

#carou-img-holder {
    gap: 1vh;
}

.item-details {
    margin-left: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.item-details .listing-name {
    font-size: 2.5rem;
    font-weight: 400;
}

.item-details .item-description {
    font-size: 1.25rem;
    width: 80%;
}

.item-details .listing-price {
    font-size: 2rem;
}

.item-details .seller-listing {
    font-size: 1.5rem;
}

.button-blue {
    border-style: none;
    border-radius: 1rem;
    background-color: var(--blue-desat);
    width: 80%;
    padding: 2%;
    font-weight: 400;
    font-size: 1.5rem;
}

#show-after-date-confirmed .button-blue {
    width: 50%;
}


/*date picker*/
.datepicker-section {
    width: 40%;
}
.selector-option {
    cursor: pointer;
    margin: 0px;
    padding: 0.5vh 1vw;
}

.date-selector {
    display: flex;
    width: 96%;
    flex-direction: column;

    border-radius: 0 0 0.5rem 0.5rem;
    
    padding: 2% 2%;

    /* from https://cssgradient.io/*/
    background: #CFCBCB;
    background: linear-gradient(180deg,rgba(207, 203, 203, 1) 0%, rgba(238, 237, 237, 1) 100%);
    
}

.select-date {
    border-radius: 0.5rem;
    padding: 0 5%;
    width: 100%;
    color: var(--grey-text);
    background: var(--grey-alt);
    border-style: none;
    text-align: left;
    justify-content: space-between;
    font-weight: 500;
    font-size: 1.1rem;
    display: flex;
    
}

.select-date img {
    transform: rotate(270deg);
}

.selector-on {
    background-color: var(--green-main);
    color: var(--white-main);
    border-radius: 0.5rem 0.5rem 0 0;
}

.selector-on img {
    transform: rotate(90deg);
}

.month-year {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.days, .dates {
    display: grid;
    grid-template-columns: repeat(7, 12%);
    gap: 0.5rem;
    margin-block: 10px;
    text-align: center;
}

.picker-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75rem;
    padding: 0 2%;
}

.move-month {
    border-style: none;
    background-color: none;
    background: none;
    cursor: pointer;
    

}

.date-item {
    border-style: none;
    background-color: none;
    background: none;
    font-weight: 500;
    padding: 0.5vh;

}

.date-selected {
    font-weight: 700;
    background-color: var(--green-main);
    color: var(--white-main);
    border-radius: 0.5rem;
}

#checkbox {
    cursor: pointer;
}

.toggle-img {
  transition: opacity 0.3s ease;
}
.toggle-img.fading {
  opacity: 0;
}

.affirm {
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
    gap: 0.5rem
}

/* progress bar + selected item section*/
.selected-item-section {
    position: absolute;
    top: 20%;
    left: 4%;
    width: 35%;
    height: 88%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
}

.fullbar {
    width: 100%;
    height: 3vh;
    border-radius: 1rem;
    border-color: var(--green-main) ;
    background-color: var(--white-main);
    border-width: 0.3rem;
    position: relative;
    border-style: solid;
    z-index: 2;

}

.progressbar {
    width: 0%;
    margin: 0;
    height: 100%;
    border-radius: 0.5rem;
    background-color: var(--green-main);
}

/* nav head */
#nav-page-head-listings {
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem 0 0.5rem 0;
    font-size: 1.5rem;
    font-weight: 500;
    gap: 1vw;
    align-items: center;
}



#nav-page-head-listings a {
    color: black;
    text-decoration: none;
}

#nav-page-head-listings a:hover {
    text-decoration: underline;
}

.fake-arrow {
    user-select: none;
    font-weight: 600;
    margin: 0;
    font-size: 1.25rem;
}

header {
    margin-bottom: 2rem;
}

#search-bar {
    width: 100%;
    gap: 0.5rem;
    margin-top: 1rem;
}

#search-query {
    width: 80%;
    height: 1rem;
    padding: 0.5rem;
    border-radius: 7px;
}

#enter-query {
    display: none;
}

.select-money-amount {
    width: 70%;
}

.select-money-amount input {
    width: 100%;
    background-color: var(--white-main);
    padding: 0.75rem 1rem;
    
    border: none;
    border-style: none;
    color: var(--primary-text-color);
    font-weight: 400;
    margin-top: 0.5rem;

    border-style: solid;
    box-sizing: border-box;
}

#confirm-added-money {
    padding: 2vh 2vw;
    background-color: var(--red-main);
    border-style: none;
    border-radius: 2rem;
    font-size: 1rem;
    width: 50%;
    margin: 1rem 0.5rem;
}


#confirm-added-money:hover {
    font-weight: 600;
    scale:1.05
}

.payment-form-style {
    width: 98%;
    display: flex;
    flex-direction: column;
    
    
}


.payment-type {
    padding: 1vh 4vw;
    display: flex;
    justify-content: space-between;
    border-style: none;
    font-size: 1.1rem;
}

.vert-line {
    width: 100%;
    height: 0.1rem;
    background-color: black;
}

.qrcode {
    width: 40%;
    height: 40%;
}

.row-on-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.qr-caption {
    font-size: 2rem;
    color: var(--blue-main);
    text-decoration: underline;
    font-style: italic;

}

.return-to-add-money {
    position: absolute;
    top: 2%;
    left: 2%;
    display: flex;
    align-items: center;
    gap: 0.5vw;
    cursor: pointer;
    color: var(--primary-text-color);
    text-decoration: none;
    font-style: normal;
}

.animation-box {
    border-style: solid;
    border-radius: 1rem;
    
    width: 88%;
    height: 88%;
    position: absolute;
    top: 5%;
    left: 5%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-width: 1rem;
    border-color: black;
    font-size: 2rem;
    font-weight: 600;
    z-index: 50;
    background-color: #EECF6D;
}

.cover-back {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;

}

.animation-box h1 {
    margin: 0 auto;
}

#lottie-container {
   
    transition: opacity 0.5s ease;
    width: 50%;
    height: 60%;
    margin: 0 auto;
}

.button-set-date {
    border-style: none;
    border-radius: 1rem;
    font-size: 1rem;
    padding: 1vh 0;
    background-color: var(--green-main);
    color: white;
    margin-top: 0.5rem;
}

.disabled {
    background-color: var(--grey-alt-2);
    color: var(--grey-text);
}


.video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.annoucement-overlay {
    position: absolute;
    z-index: 10;
    width: 72%;
    height: 52%;
    top: 16%;
    left: 9%;
    padding: 4%;
    background-color: #EECF6D;
    border-color: black;
    border-style: solid;
    border-width: 1rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-align: center;
    opacity: 1;
    transition: opacity 0.2s ease-in, transform 0.3s ease-out;
}

.annoucement-overlay h2, h1, p {
    margin: 0.1rem 0;
}

.annoucement-overlay h2 {
    font-size: 3rem;
    line-height: 0.5rem;
    font-weight: 500;
}
.annoucement-overlay h1 {
    font-size: 8rem;
    font-weight: 600;
    font-style: italic;
    color: #70877F;
}

.annoucement-text-wrap {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.small-note {
    position: absolute;
    bottom: -4%;
    left: 0;
    right: 0;
    margin: 0 auto;

    font-size: 1rem;
}

#triangle {
    height: 20%;
    width: 20%;
}

.scale-open-page {
    width: 100%;
    z-index: 50;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .half-sze {
        width: 84%;
        

    }

    #html-main {
        height: 20%;
         bottom: 8%;
    }

    


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .half-size {
        right: 4%;
        width: 50%;
    }

    #html-main {
        height: 80%;
        top: 8%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


}